@font-face {
    font-family: 'suisseWorksRegular';
    src: url('../font/suisseecalworks-regular-webfont.woff2') format('woff2'),
        url('../font/suisseecalworks-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'sans';
    src: url('../font/VG5000-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

canvas{
    z-index: -100 !important;
    position: fixed;
    top: 0;
    left: 0;
}


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* background-color: black; */
    color: white;
    font-family: 'suisseWorksRegular';
}

a {
    text-decoration: none;
    color: white;

}

.menu {
    font-family: 'sans';
    position: fixed;
    top: 0;
    margin-left: 2vw;
    padding-top: 2vw;
    z-index: 100000;

}

.menuItem {
    font-size: 1em;
    cursor: pointer;
    margin-right: 5vw;
}

.home {
    width: 100vw;
    height: 100vh;
}

.titleCenter{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

}

.homeTitle {
    font-family: 'sans';
    font-size: 15vw;
    line-height: 24vh;
    text-align: center;
    margin: 0;
}

.homeSub {
    font-style: italic;
    font-size: 2vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}



.aboutPart {
    vertical-align: top;
    display: inline-block;
    margin-right: 5vw;
    margin-top: 0;
}

.aboutSub {
    font-family: 'sans';
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0;

}

.aboutText {
    width: 42vw;
    font-size: 2vw;
    display: inline-block;
    margin-top: 0;
}
.nextPage {
    font-family: 'sans';
    position: absolute;
    bottom: 20;
    width: 100vw;
    text-align: center;
    padding-right: 1em;
}

.navAbout {
    position: absolute;
    bottom: 20;
    display: inline-block;
    margin:0;
    left: 50%;
    transform: translate(-100%, -100%);

}

.nav {
    display: block;
    position: relative;
    bottom: 10px;
    right: auto;
    left: 46vw;
    width: 100%;
    padding-top: 35vh;
}


.nextPageStory {
    font-family: 'sans';
    width: 100vw;
    padding-right: 1em;  
}



.about-index {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
}

.chapter {
    display: inline-block;
    margin-right: 10vw;
    margin-top: 5vh;
    vertical-align: top;
}

.chapters {
    margin-top: -5vh;
    vertical-align: top;
}

.indexAboutTitle {
    font-family: 'sans';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vw;
    padding-top: 10vh;

}

.indexChapter {
    font-family: 'sans';
    font-size: 2em;
    display: block;
}

.indexType {
    padding-left: 2em;
    font-size: .8em;
    display: block;


}


.story {
    width: 100vw;
    height: 100vh;
}

.cityName {
    font-family: 'sans';
    padding-top: 26vh;
    font-size: 15vw;
    text-align: center;
    margin-bottom: 0;
}

.cityInfos {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
    margin-top: -2vh;
    font-style: italic;
}


